extends layout

block body
  div.container(ng-controller='AppCtrl')
    div.row
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 Stories
          ul.list-group
            li.list-group-item
              a First Item
            li.list-group-item
              a Second Item
      div.col-sm-6
        div.panel.panel-default
          div.panel-heading
            h3 Current Story
          div.panel-body
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 Users
          div.panel-body
            .overflowable
              p(ng-repeat='user in users'){{user}}
              
    div.row
      div.col-sm-6.col-sm-offset-3
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#change-name', aria-controls='change-name', role='tab', data-toggle='tab') Change Name     
            li(role='presentation')
              a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
          .tab-content
            #change-name.tab-pane.active(role='tabpanel')
              div
                h3 Change your name
                form(role='form'
                      ng-submit='changeName()')
                  .form-group
                    input#new-name.form-control(type='text'
                                      placeholder='new name'
                                      ng-model='newName')
                    input.btn.btn-default(type='submit'
                                          value='Change name')
            #messages.tab-pane(role='tabpanel')
              div
                h3 Messages
                .overflowable
                  p(ng-repeat='message in messages'){{message.user}} says: {{message.text}}

            
            

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')