extends layout

block body
	ul
		li(ng-repeat='room in rooms') {{room}}
	div.row(ng-controller='startCtrl')
		div.col-sm-4.col-sm-offset-4
			div.panel.panel-primary
				div.panel-heading
					h3 Welcome to Agile Story Pointing App!
				div.panel-body
					div.panel.panel-default
						div.panel-body
							h4 Create a new Board
							form(role='form'
								ng-submit='createBoard()')
								.form-group
									input.btn.btn-success(type='submit',
	                                    value='Create')
					div.text-center
						p.strong Or
					div.panel.panel-default
						div.panel-body
							h4 Join an existing Board
							form(role='form')
								.form-group
									input#board-id.form-control(type='text'
																placeholder='Board Id')
									input.btn.btn-success(type='submit',
	                                    value='Join')

	script(src='/socket.io/socket.io.js')

	script(src='bower_components/angular/angular.js')
	script(src='bower_components/angular-route/angular-route.js')
	script(src='bower_components/angular-socket-io/socket.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='bower_components/jquery/dist/jquery.min.js')
	script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')

	script(src='bower_components/angular-bootstrap/ui-bootstrap.min.js')
	script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
