!!!
html(ng-app="agileSp")
  head
    meta(charset='utf8')
    base(href='/')
    title Agile Story Pointing
    link(rel='stylesheet', href='/css/app.css')
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet")
  body
    block body